{% import 'macros.html' as macro%}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the best News Review website </title>
        {% endif %}
    </head>
    <body>


             
             <h3> Technology</h3>

             <ul>
                {{ macro.displayNewsList(technology)}}
            </ul>
    
    
            
            <h3> Business </h3>
                    <ul>
            {{ macro.displayNewsList(business)}}
        </ul>

            
            <h3> Sports</h3>
            <ul>
                {{ macro.displayNewsList(sports)}}
            </ul>
    
            
    



    
    </body>
</html>
