{% macro displaySourceList(source_list) %}
{% for source_row in source_list |batch(4)%}
<div class="row">
	{% for sources in source_row %}
	<div class="col-md-5 border rounded border-secondary my-3 ms-5">
		<div class="text-center pt-3">
			<h3>{{ sources.name}}</h3>
		</div>
		<div>
			<p>
				{{ sources.description}}
			</p>
			<div class="text-center pb-3">
                <a href="/news_articles/{{sources.id}}"><button type="button" class="btn btn-success">View {{ sources.name}} articles</button></a>
            </div>
		</div>
	</div>
    <br><br>
	{% endfor %}
</div>
{% endfor %}
{% endmacro %}